<div class="orderedService">
    <div class="row">
    <h3 *ngIf="type==='PROJECT MANAGER'" class="col-md-8"> Project Manager</h3>
    <h3 *ngIf="type==='SERVICE MANAGER'" class="col-md-8"> Service Manager</h3>
    <button class="btn btn-outline-dark nav-link mx-auto" (click)="open(content)" *ngIf="type==='PROJECT MANAGER'">
        <span class="fa fa-plus"></span> Add Service
    </button>
    </div>
    <hr>

    <table class="table table-responsive-md">
        <thead class="thead-dark shadow mb-2">
            <tr>
                <th>Service</th>
                <th>Status</th>
                <th>Progress</th>
                <th *ngIf="type==='PROJECT MANAGER'">Service Manager</th>
                <th *ngIf="type==='SERVICE MANAGER'">Project Name</th>
                <th>Send Message</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orderedService of orderedServices" class="shadow-sm mx-2">
                <td>{{orderedService.service.name}}</td>
                <td><span [ngClass]="{'bg bg-info':true, 'rounded-lg':true, 'border border-dark':true, 'p-2':true,
                    'bg bg-success':orderedService.serviceStatus==='COMPLETED',
                               'bg bg-danger':orderedService.serviceStatus==='CANCELLED',
                               'bg bg-warning':orderedService.serviceStatus==='PENDING',
                               'bg bg-info':orderedService.serviceStatus==='IN_PROGRESS',
                            'bg bg-secondary':orderedService.serviceStatus=='NOT_STARTED'}
                            ">{{orderedService.serviceStatus}}</span></td>
                <td><p>
                    <ngb-progressbar type="success" [value]="orderedService.progress" [striped]="true" [animated]="true"><i>{{orderedService.progress}}%</i></ngb-progressbar>
                </p></td>
                <td *ngIf="type==='PROJECT MANAGER'">{{orderedService.employee.firstName}}</td>
                <td *ngIf="type==='SERVICE MANAGER'">{{orderedService.project.name}}</td>
                <td><button class="btn btn-outline-dark"><i class="fa fa-envelope" style="font-size: 26px"></i></button></td>
            </tr>
        </tbody>
    </table>


    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Service</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-ordered-service-form [value]="project"></app-ordered-service-form>
        </div>
        <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">submit</button>
                </div> -->
    </ng-template>
</div>