
<div class="card-body" *ngIf="!currentTask">
    <h3>No task is allocated yet</h3>
</div>


<div class="card shadows-sm" *ngIf="currentTask">
    <div class="card-header" style="background-color: rgb(147, 181, 243)">
        <h3>employee: {{currentTask.employee.id}}</h3>
        <h3>taskId: {{currentTask.orderId}}</h3>


        <h3>{{currentTask.task.name}}</h3>
    </div>
    <div class="card-body" style="background-color:rgb(240, 234, 234)">
        <h4>Project : {{currentTask.orderedService.project.name}}</h4>
        <hr>
        <h4>Service : {{currentTask.orderedService.service.name}}</h4>
        <hr>
        <h4>Status : <span class="{
                    'rounded-lg':true, 
                    'border border-dark':true, 
                    'p-2':true,
                    'bg bg-success':currentTask.taskStatus==='COMPLETED',
                    'bg bg-danger':currentTask.taskStatus==='CANCELLED',
                    'bg bg-warning':currentTask.taskStatus==='PENDING',
                    'bg bg-info':currentTask.taskStatus==='IN_PROGRESS',
                    'bg bg-secondary':currentTask.taskStatus==='NOT_STARTED',
                    'bg bg-primary':currentTask.taskStatus==='SENT_FOR_APPROVAL'
                }">{{currentTask.taskStatus}}</span></h4>
    </div>
    <div class="card-footer" style="background-color: rgb(147, 181, 243)">
        <h4>Manager : {{currentTask.employee.firstName}}</h4>
    </div>
</div>