<!-- 
<div class="card shadows-sm" >
    <div class="card-header">
        <h3>employee: {{employeeId}}</h3>
        <h3>taskId: {{currentTask.orderedTask.task.id}}</h3>


        <h3>{{currentTask.orderedTask.task.name}}</h3>
    </div>
    <div class="card-body">
        <h4>Project : {{currentTask.orderedService.project.name}}</h4>
        <hr>
        <h4>Service : {{currentTask.orderedService.service.name}}</h4>
        <hr>
        <h4>Status : <span class="bg bg-info rounded-lg border border-dark p-1">{{currentTask.orderedTask.taskStatus}}</span></h4>
    </div>
    <div class="card-footer">
        <h4>Manager : {{currentTask.employee.firstName}}</h4>
    </div>
</div> -->

<!-- <div class="container" *ngIf="true">
    <h3>No Task Allocated right Now!!!!</h3>
</div> -->


<div class="card shadows-sm" *ngIf="currentTask">
    <div class="card-header">
        <h3>employee: {{currentTask.employee.id}}</h3>
        <h3>taskId: {{currentTask.orderId}}</h3>


        <h3>{{currentTask.task.name}}</h3>
    </div>
    <div class="card-body">
        <h4>Project : {{currentTask.orderedService.project.name}}</h4>
        <hr>
        <h4>Service : {{currentTask.orderedService.service.name}}</h4>
        <hr>
        <h4>Status : <span class="bg bg-info rounded-lg border border-dark p-1">{{currentTask.taskStatus}}</span></h4>
    </div>
    <div class="card-footer">
        <h4>Manager : {{currentTask.employee.firstName}}</h4>
    </div>
</div>