<div class="container">
    <br>
    <div class="card" style="width:18rem">
        <div class="card shadow-sm">
            <div class="card-body">
                <i class="fa fa-chevron-circle-down" style="float: right;font-size:24px" (click)="toggle()"
                    *ngIf="hidden"></i>
                <i class="fa fa-chevron-circle-up" style="float: right;font-size:24px" (click)="toggle()"
                    *ngIf="!hidden"></i>
                <a [routerLink]="['/sworkflow']" [queryParams]="{ serviceId: ser.id}">{{ser.name}} </a>

                <div class="wrapper" *ngIf="!hidden">
                    <div ng-hide="showme">{{ser.description}}</div>
                </div>
            </div>
        </div>
    </div>

</div>