<div class="services">
    <div class="row">
        <div class="mx-5 my-2 col-md-8 col-sm-6">
            <h4>Available Services</h4>
        </div>
        <button class="btn btn-outline-dark nav-link mx-auto" (click)="open(content)">
            <span class="fa fa-plus"></span> Add Service
        </button>
    </div>
    <hr>
    <div class="row">
        <div *ngFor="let ser of services" class="col-lg-4 col-md-6 col-sm-12">
            <app-service [value]="ser"></app-service>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Service</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-service-form></app-service-form>
        </div>
    </ng-template>
</div>

<hr>
<app-task-list></app-task-list>