<br/>
<div ngbDropdown class="d-inlineblock" style="margin-left: 800px;">
    <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>Filter by</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button (click)="filterBy(7)" ngbDropdownItem>All</button>
        <button (click)="filterBy(0)" ngbDropdownItem>NOT_STARTED</button>
        <button (click)="filterBy(1)" ngbDropdownItem>IN_PROGRESS</button>
        <button (click)="filterBy(2)" ngbDropdownItem>COMPLETED</button>
        <button (click)="filterBy(3)" ngbDropdownItem>PENDING</button>
        <button (click)="filterBy(5)" ngbDropdownItem>SENT_FOR_APPROVAL</button>
        <button (click)="filterBy(6)" ngbDropdownItem>BLOCKED</button>

    </div>
</div><hr/>

<div *ngIf = "!filteredTasks.length" class="alert alert-warning">No Task Available</div>
<div class="row">
    <div *ngFor="let orderedTask of filteredTasks" class="col-lg-4 col-md-6 col-sm-12">
        <app-task [value]="orderedTask" [type]="type"></app-task>
    </div>
</div>




<!-- <app-team-info [value]="teamId"></app-team-info> -->