<div class="orderedTask">
    <div class="row">
        <h3 class="col-sm-12 col-md-8">Team Manager:{{teamManagerId}}</h3>
    </div>
    <div class="alert alert-warning" *ngIf="!orderedTasks">No Tasks </div>
    <table class="table table-responsive-md" *ngIf= "orderedTasks">
        <thead class="thead-dark shadow mb-2">
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Team Member</th>
                <th>Send Message</th>
                <th>Transfer Task</th>
                <th>Approve / Reject Task</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orderedTask of orderedTasks" class="shadow-sm mx-2">
                <td>{{orderedTask.task.name}}==> {{orderedTask.task.id}}</td>
                <td><span [ngClass]="{
                    'rounded-lg':true, 
                    'border border-dark':true, 
                    'p-2':true,
                    'bg bg-success':orderedTask.taskStatus==='COMPLETED',
                    'bg bg-danger':orderedTask.taskStatus==='CANCELLED',
                    'bg bg-warning':orderedTask.taskStatus==='PENDING',
                    'bg bg-info':orderedTask.taskStatus==='IN_PROGRESS',
                    'bg bg-secondary':orderedTask.taskStatus==='NOT_STARTED',
                    'bg bg-primary':orderedTask.taskStatus==='SENT_FOR_APPROVAL'
                }">{{orderedTask.taskStatus}}</span></td>
                <td *ngIf="!orderedTask.employee">Employee Not allocated</td>
                <td *ngIf="orderedTask.employee">{{orderedTask.employee.firstName}} -> {{orderedTask.employee.id}}</td>
                <td><button class="btn btn-outline-dark"><i class="fa fa-envelope" style="font-size: 26px"></i></button>
                </td>
                <td><button class="btn btn-outline-dark" (click)="open(content,orderedTask)"><i
                            class="fa fa-share-square" style="font-size: 26px"></i></button></td>
                <td><button *ngIf="orderedTask.taskStatus=='SENT_FOR_APPROVAL'" class="btn btn-outline-dark"
                        (click)="approveTask(orderedTask)"><i class="fa fa-check" aria-hidden="true"></i></button>
                    &nbsp;<button *ngIf="orderedTask.taskStatus=='SENT_FOR_APPROVAL'" class="btn btn-outline-dark"
                        (click)="rejectTask(orderedTask)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
    <!-- <div class=" col-md-6">
        <app-transfer-task-form [value]="orderedTask" *ngIf="isClicked"></app-transfer-task-form>
    </div> -->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Tranfer Task</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-transfer-task-form [value]="orderedTask"></app-transfer-task-form>
        </div>
        <!-- <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">submit</button>
                    </div> -->
    </ng-template>
</div>