<div class="card shadow">
    <div class="card-header">
        <div>Transfer Task</div>
    </div>
    <div class="card-body">
        <form [formGroup]="transferTaskForm" class="example-form" (ngSubmit)="handleFormSubmit($event)"
            *ngIf="!isSubmitted">
            <mat-form-field class="example-full-width">
                    <mat-select formControlName="teamMember" placeholder="Pick Team Member">
                        <mat-option *ngFor="let employee of employees" [value]="employee">
                            {{employee.firstName}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>
            <button class="btn btn-dark">Sumbit</button>
        </form>
    </div>
</div>